* {
  margin: 0;
  overflow: hidden;
}
#info {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
  color: rgb(55, 55, 55);
  font-size: 2rem;
  font-weight: 700;
}
